<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Health Catalyst Assignment</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Search Person", "Index", "Home", null, null)</li>
                    <li>@Html.ActionLink("Insert Person", "Index", "Person", null, null)</li>
                </ul>
            </div>
        </nav>
    </header>

    <div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>


    <footer>
        <div id="footer">
            <p>&copy; @DateTime.Now.Year - Aaron Peterson Health Catalyst Assignment</p>
        </div>
    </footer>
</body>

</html>
